/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v19-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v19-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.header {
  background-color: #eeeeee;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.header-flex {
  display: flex;
  justify-content: space-between;

  margin-bottom: -9px;
}

.main-navigation {
  line-height: 30px;
  text-transform: uppercase;
  background-color: #eeeeee;

  padding-right: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-style-reset {
  list-style: none;
}

.menu {
  display: flex;
  justify-content: center;
  padding-right: 198px;
  padding-top: 10px;
}

.menu li {
  padding-right: 47px;
}

.user-navigtion {
  margin-left: auto;
  justify-content: flex-end;

  padding-right: 40px;
}

.cart{
  padding-top: 11px;

  position: relative;
}

.cart::before {
  content: "";
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 18px;
  left: -40px;
  width: 16px;
  height: 17px;
}

.menu a,
.user-navigation a {
  color: #000000;
}

.menu a:hover,
.user-navigation a:hover,
.menu a:focus,
.user-navigation a:focus {
  color: #fb565a;
}

.menu a:active,
.user-navigation a:active {
  color: #bcbcbc;
}

.slider {
  background-color: #eeeeee;
  margin-bottom: 72px;

  position: relative;
}

.slider-controls {
  position: absolute;
  left: 590px;
  bottom: 112px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls .active::before {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slide-slogan {
  max-width: 600px;
  margin: 0;
  margin-bottom: 26px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slide p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slide {
  display: none;
  padding: 78px 0 91px 0;
  padding-bottom: 87px;
}

.slide:nth-child(1) {
  display: block;
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position: 86% 18px;
}

.slider-item:nth-child(2) {
  background-image: url(../img/slide2.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url(../img/slide3.png);
  background-repeat: no-repeat;
  background-position: 100% 20px;
}


.button {
  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;

  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 45px;
  padding-right: 45px;

  border: none;

  display: inline-block;
}

.description-button {
  display: block;
  width: 240px;
  padding: 17px 0;

  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  border-radius: 3px;
  border: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 64px;
}

.feature {
  width: 300px;
}

.feature p {
  position: relative;
  top: -13px;
  left: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.feature:not(:last-child) {
  margin-right: 100px;
}

.feature-name {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;

  position: relative;
  top: -6px;
  left: 1px;
}

.feature-button {
  padding-left: 40px;
  padding-right: 40px;
}

.button-red {
  background-color: #fb565a;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  color: #ffb2b4;
  background-color: #d7373b;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  color: #74c69a;
  background-color: #00aa62;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  color: #edc47c;
  background-color: #e5a722;
}

.benefits {
  padding-top: 45px;
  margin-bottom: 87px;

  display: flex;
  justify-content: space-between;
}

.services {
  width: 700px;
}

.indicators {
  width: 420px;
  margin-left: 140px;
}

.lead {
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 33px;
  font-weight: 600;
}

.lead-slogan {
  margin-bottom: 39px;
}

.service {
  padding-bottom: 30px;
    line-height: 18px;
    left: -3px;
    position: relative;
    top: 5px;
}

.service-description {
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 6px;
}

.indicators img {
  position: relative;
  top: 12px;

  margin-bottom: 29px;
}

.indicators p {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;

  margin-bottom: 50px;

  position: relative;
  top: -5px;
  left: -20px;
}

.numbers th {
  font-size: 45px;
  line-height: 55.06px;
  text-align: start;

  padding-bottom: 12px;

  position: relative;
  top: -22px;
  left: -6px;
}

.numbers td {
  line-height: 18px;
  position: relative;
  top: -22px;
  left: -6px;
}

.logo-container {
  margin-bottom: 125px;

  display: flex;
}

.logo-container a {
  width: 260px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.logo-container a:first-child {
  margin-left: 0px;
  position: relative;
  top: 2px;
}

.logo-container a:nth-child(2) {
  position: relative;
  top: -4px;
}

.logo-container a:nth-child(3) {
  position: relative;
  top: -3px;
}

.map {
  position: relative;
  width: 1440px;
}

.map-image {
    position: relative;
    top: -1px;
    left: 212px;
}

.main-footer {
  display: flex;
}

.social-btns {
  width: 260px;
  display: flex;
  margin-top: 70px;
}

.footer-promo {
  width: 580px;
  display: flex;

  margin-left: 140px;
  margin-bottom: 80px;
}

.contacts {
  font-style: normal;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 312px;
  padding-top: 48px;
  padding-left: 43px;
  padding-bottom: 6px;
  position: absolute;
  top: 52px;
  left: 353px;
}

.full-address {
  line-height: 18px;
  color: #666666;

  position: relative;
  top: -27px;
  left: 7px;
}

.company-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 35px;
  position: relative;
  top: -15px;
  left: 6px;
}

.address-button {
  background-color: #fb565a;
  margin-top: 45px;
  position: relative;
  top: -41px;
  left: 5px;
}

.promo {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.footer-promo span {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #444444;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;

  background-color: #eeeeee;
  margin-bottom: 120px;
  padding-top: 100px;
  padding-bottom: 120px;
}

.catalog {
  width: 760px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  width: 360px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  margin: 0;
  padding: 0;
}

.sort {
  display: flex;
}

.sort-types {
  display: flex;
  align-items: center;

  padding: 0;
  margin: 0;
}

.sort-types li {
  padding-right: 25px;
}

.sort-type {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  padding-right: 255px;
}

.sort-by {
  line-height: 20px;
  color: #686d6f;
  padding: 0;
  margin: 0;
}

.sort-by-price {
  margin-bottom: 60px;
}

.filter-item {
  border: none;
}

.filter {
  width: 260px;
}

.filters button {
  line-height: 18px;

  background-color: #eeeeee;
  padding: 19px 89px;
}

.filters button:hover,
.filters button:focus {
  background-color: #dfdfdf;
}

.filters button:active {
  color: #a8a8a8;
  background-color: #d5d5d5;
}

.sort-types a{
  line-height: 18px;
  text-transform: uppercase;
  color: #c9c9c9;
}

.sort-types a:focus,
.sort-types a:hover {
  color: #8b8b8b;
}

.sort-types a:active {
  color: #000000;
}

.price-button {
  padding-left: 60px;
  padding-right: 60px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.pagination-item a[href] {
  color: #000000;

  background-color: #eeeeee;
  padding: 19px 21px;

  border: 2px solid #dbdbdb;

  display: inline-block;
  align-items: baseline;
}

.pagination-item a[href]:focus,
.pagination-item a[href]:hover {
  background-color: #dfdfdf;
}

.pagination-item a[href]:active {
  color: #a8a8a8;

  background-color: #d5d5d5;
}

.pagination-item-current a[href]:focus,
.pagination-item-current a[href]:hover,
.pagination-item-current a[href]:active {
  background-color: #ffffff;
}

.next-page a{
  padding: 19px 79px;
}
